.form-head{
	margin-top: 60px;
}

.form-container{
	padding: 60px;
}

.alignment{
	display: flex;
}

.datepicker-container .react-datepicker-wrapper{
	width: 100%;
}

.error-message{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.form-wrapper{
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 485px) {
	.form-head{
		margin-top: 20px;
	}
	.form-container{
		padding: 20px
	}
}